@import url(style.css);


@media (max-width: 1253px) {

    .navbar {
        max-width: 1000px;
        margin: 0 auto;
    }

    .row2-span {
        width: 80% !important;
    }

    .span-p {
        font-size: 15px !important;
    }

    .row1-p {}

    .sec2-wrapper {
        gap: 100px !important;
    }

    .sec2-row1 {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .sec2-row1-text {
        width: 80% !important;
        text-align: center;
    }

    .sec2-row1-grid {
        width: 80% !important;
    }

    .sec2-row2-container {
        width: 80%;
        margin: 0 auto;
    }

}

@media (max-width: 1199px) {

    .our-services-wrapper {
        padding-bottom: 90px !important;
    }

    .sec4-content-seo.active,
    .sec4-content-research.active,
    .sec4-content-CPR.active,
    .sec4-content-PT.active,
    .sec4-content-social_media.active {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .sec4-h3_list_btn h3 {
        text-align: center;
    }
    .sec4-content-btns {
        justify-content: center;
    }

    .sec4-content-btn,
    .sec4-content-btn-filled {
        width: 140px !important;
    }


    .sec4-h3_list_btn ol{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .sec4-h3_list_btn ol li{
        justify-content: center;
    }

    .sec4-bg_svg {
        display: none;
    }

    .sec4-img_bg {
        display: none;
    }
}


@media (max-width: 991px) {
    #sec5-button {
        width: 70% !important;
    }
}


@media (max-width: 908px) {

    .navbar {
        padding: 8px 0 !important;
    }

    .header-nav-home {
        justify-content: space-evenly !important;
        gap: 15px;
    }

    .header-nav-home div.row {
        display: none;
    }

    .header-span {
        display: none !important;
    }

    .mobile_menu_hidden-wrapper {
        display: flex !important;
    }

    .svg_lines2 {
        display: none;
    }

    .row1-p {
        font-size: 55px !important;
    }

    .sec1-row1 {
        max-width: 80% !important;
        flex-wrap: wrap-reverse;
        padding: 0 !important;
    }

    .sec1-shape {
        display: none;
    }

}

@media (max-width: 767px) {

    .sec1-row2 {
        display: none !important;
    }

    .about-col1 {
        padding-top: 15px;
        gap: 10px !important;
    }

    .sec3-about {
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 735px) {

    .progressbar__text1 {
        left: calc(100%/2 - 15%) !important;
        top: calc(100%/2 - 20%) !important;
    }

    .progressbar__text2 {
        left: calc(100%/2 - 26%) !important;
        top: calc(100%/2 - 20%) !important;
    }
}

@media (max-width: 485px) {

    .row1-buttons {
        justify-content: center;
    }

    .row1-p {
        text-align: center;
    }

    .header-button {
        display: none !important;
    }

    .mob_menu-navigation {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .logo-web img {
        width: 70%;
    }

    .row1-p {
        font-size: 42px !important;
    }

    .sec2-row1-grid {
        flex-wrap: wrap;
    }

    .sec2-row1 {
        gap: 40px !important;
    }

    .sec2-row1-text {
        font-size: 20px !important;
    }
}

@media (max-width: 323px) {
    .sec2-row2-container {
        display: none !important;
    }

    .grid-clutch,
    .grid-forbes,
    .grid-top-seo,
    .grid-upcity {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 278px) {
    .button-text {
        font-size: 12px !important;
        line-height: 42px;
    }

    .row1-p {
        font-size: 32px !important;
    }
}