/* Default */
div,
section,
input,
span,
h1,
h2,
h3,
p,
ol,
li,
button {
    z-index: 2;
}

.swiper-slide {
    z-index: 10;
}

svg {
    z-index: -1;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.row {
    margin: 0;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    outline: none;
    margin: 0;
}


/* body {
    overflow-x: hidden;
} */

/* Header + Section1 */

.navbar {
    padding-bottom: 70px;
    z-index: 3;
}

.header_sec1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: radial-gradient(175.37% 96.44% at 10.00% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
    justify-content: space-between;
}

.header-nav-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
    padding-top: 10px;
}

.menu-text {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    opacity: 0.6000000238418579;
}

.header-span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-menu-servise {
    display: flex;
    align-items: center;
    gap: 7px;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

p {
    margin: 0 !important;
}



/* .header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} */

.header-btn {
    display: inline-flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary, #7772F1);
}


.button-text {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
}

/* Burger menu */

.mobile_menu_hidden-wrapper {
    display: none;
}

.mob-menu-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #FFF;
    border-radius: 20px;
    opacity: .8;
    left: 0;
}

.mob_menu-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    gap: 15px;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 3;

    transform: translateX(-110%);
    transition: 0.5s ease;
}

.burger-menu-text {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: #7772F1;
    opacity: 1;
}

.mob_menu-navigation.active {
    transform: translateX(0);
}

.mob_menu-icon {
    display: inherit;
    justify-content: center;
}

/* Section 1 */

.section1_homepage {
    padding: 70px 0 80px 0;
}

.sec1-row1 {
    display: flex;
    max-width: 1385px;
    padding-left: 70px;
    position: relative;
}


/* SVG position */

.svg_lines1 {
    position: absolute;
    left: -100px;
}

.svg_lines2 {
    position: absolute;
    top: 375px;
    left: 579px;
}

.sec1-shape {
    position: absolute;
    right: 0;
    top: -140px;
}

.sec1-shape img {
    max-width: 100%;
}

.sec1-svg_vector {
    position: absolute;
    right: 0;
    top: -140px;
}

.svg_circles {
    position: absolute;
    left: 0;
    top: -200px;
}

.svg_circles img {
    max-width: 100%;
}

/*  */


.row1-text_buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.row1-p {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
}

.row1-p-blue {
    color: var(--primary, #7772F1);
}

.button-large {
    display: inline-flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    overflow-y: hidden;
}

button.button-play_video {
    transition: 0.5s;
}

button.button-play_video:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.row1-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.row1-btn2 {
    display: inherit;
    gap: 10px;
}


.sec1-row2 {
    display: flex;
    max-width: 1233px;
    justify-content: center;
}


.row2-span {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.row2-span-text {
    display: inline-flex;
    align-items: center;
}


.row2-span-prts {
    display: inherit;
}

.span-p {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.row2-span-prt1 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 25%;
}

.row2-span-prt2 {
    display: flex;
    width: 33.3%;
    align-self: center;
    justify-content: center;
    gap: 20px;
}

.row2-span-prt3 {
    display: flex;
    width: 33.3%;
    gap: 20px;
    justify-content: end;
}

.divider {
    width: 1px;
    height: 40px;
    opacity: 0.4000000059604645;
    background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}



/* Section 2 */


.sec2-wrapper {
    display: flex;
    flex-direction: column;
    gap: 180px;
    max-width: 1230px;
    margin: 0 auto;
    padding: 120px 0 90px 0;

}

.sec2-row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 105px;
}



/* Grid */
.grid-clutch,
.grid-forbes,
.grid-top-seo,
.grid-upcity {
    display: flex;
    width: 100%;
    gap: 16px;
}


.sec2-grid-p {
    color: var(--gray-800, #424551);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.grid-text {
    display: inherit;
    align-items: center;
}



.sec2-row1-grid {
    display: flex;
    flex-direction: row;
}

.sec2-row1-text {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}


.sec2-row2-container {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Section 3 */

.section_3 {
    position: relative;
    padding-top: 130px;
    padding-bottom: 180px;
}

.sec3-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-width: 1230px;
    justify-content: space-between;
    position: relative;
}

.about-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.about-col1 .row1-p {
    font-size: 46px;
    color: var(--gray-900, #1E212C);
}

.about-col1 .sec2-grid-p {
    font-size: 16px;
    line-height: 160%;
}

.button-moreAboutUs {
    display: inline-flex;
    max-width: 161px;
    padding: 0px 32px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary, #7772F1);
}

.button-moreAboutUs-p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
}

/* SVG Section 3 */

.about-shape1 {
    position: absolute;
    top: 0;
    left: 180px;
}

.about-shape1 svg {
    width: 100%;
}

.about-lines {
    position: absolute;
    right: 0;
    top: 450px;
    z-index: -1;
}

.about-vectors {
    position: absolute;
    left: 0;
    bottom: -220px;
}


/* Progress bar */


.progress-bar-animated {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    padding-top: 90px;
}

[class^="eclipse-"] {
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

}

.prog-bar-yellow,
.prog-bar-blue,
.prog-bar-green,
.prog-bar-pink {
    display: inherit;
    flex-direction: column;
    position: relative;
    gap: 20px;
}


.progressbar__text1 {
    position: absolute;
    left: calc(100%/2 - 17%);
    top: calc(100%/2 - 23%);
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.progressbar__text2 {
    position: absolute;
    left: calc(100%/2 - 30%);
    top: calc(100%/2 - 23%);
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.prog-bar-yellow._active .eclipse-yellow {
    stroke-dasharray: 450;
    stroke-dashoffset: 50;
    animation: progress-1 2s ease-out;
}

.prog-bar-pink._active .eclipse-pink {
    stroke-dasharray: 450;
    stroke-dashoffset: 115;
    animation: progress-2 2s ease-out;
}

.prog-bar-blue._active .eclipse-blue {
    stroke-dasharray: 450;
    stroke-dashoffset: 90;
    animation: progress-3 2s ease-out;
}

.prog-bar-green._active .eclipse-green {
    stroke-dasharray: 450;
    stroke-dashoffset: 0;
    animation: progress-4 2s ease-out;
}


@keyframes progress-1 {
    from {
        stroke-dashoffset: 450;
    }

    to {
        stroke-dashoffset: 50;
    }
}

@keyframes progress-2 {
    from {
        stroke-dashoffset: 450;
    }

    to {
        stroke-dashoffset: 115;
    }
}

@keyframes progress-3 {
    from {
        stroke-dashoffset: 450;
    }

    to {
        stroke-dashoffset: 90;
    }
}

@keyframes progress-4 {
    from {
        stroke-dashoffset: 450;
    }

    to {
        stroke-dashoffset: 0;
    }
}


.prog-bar-yellow,
.prog-bar-green,
.prog-bar-blue,
.prog-bar-pink p {
    color: var(--gray-800, #424551);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



/* Section 4 */

.sec4-h1 h1 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.sec4-h1 {
    display: flex;
    justify-content: center;
}

.our-services-wrapper {
    display: flex;
    max-width: 1230px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 180px;
}

/* Sec4-buttons */



.sec4-buttons_animation button {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    min-width: 122px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--gray-600, #9A9CA5);
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 15px;
}

.sec4-buttons_animation button[type="button"].active {
    color: #7772F1;
    border: 1px solid var(--primary, #7772F1);
}

.sec4-buttons_animation button[type="button"]:hover {
    color: #7772F1;
    border: 1px solid var(--primary, #7772F1);
}

.sec4-btn-p {
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.sec4-buttons_animation {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Custom scrolllbar for tabs */

.sec4-buttons_animation::-webkit-scrollbar {
    height: 8px;
}

.sec4-buttons_animation::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

.sec4-buttons_animation::-webkit-scrollbar-thumb {

    background: #7772F1;
    border-radius: 10px;
}

/* //////////////////////// */


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: flex;
}

/* ///////////////////////// */

.sec4-h3_list_btn h3 {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.sec4-h3_list_btn ol>li:before {
    content: url(img/svg/Mark.svg);
    height: 16px;
    padding-top: 3px;
}

.sec4-h3_list_btn ol>li>p {
    color: var(--gray-800, #424551);
    align-self: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.sec4-h3_list_btn ol>li {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin: 12px 0;
}

/* Sec4-position */


.sec4-content-social_media {
    position: relative;
    display: none;
    flex-direction: row;
    gap: 100px;
}

.sec4-bg_svg {
    position: absolute;
    top: 0;
    z-index: -1;
}

.sec4-bg_svg img {
    width: 100%;

}

.sec4-img {
    position: relative;
}

.sec4-img img {
    max-width: 95%;
}


/* Sec4-content-button */

.sec4-content-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.sec4-content-btn {
    display: flex;
    width: 139px;
    height: 44px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--primary, #7772F1);
    color: #7772F1;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.sec4-content-btn-filled {
    display: flex;
    width: 165px;
    height: 44px;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    background: var(--primary, #7772F1);
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    transition: 0.4s;
}


.sec4-content-btns p {
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}


/* Section 4 tabs-content */

.sec4-content-seo,
.sec4-content-research,
.sec4-content-CPR,
.sec4-content-PT {
    display: none;
    max-width: 1230px;
    text-align: center;
}


/* Section 5 forms */

.section_5 {
    position: relative;
    background-color: #1E212C;
    padding: 80px 0;
    z-index: 4;
}

.sec5-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1230px;
}

.sec5-forms_h1 h1 {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.sec5-img img {
    max-width: 100%;
}

.sec5-forms_h1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.p_out_form {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 1;
}

.form-name_email {
    display: flex;
    justify-content: space-between;
}

#formName {
    display: flex;
    width: 95%;
    padding: 13px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
}

#formEmail {
    display: flex;
    padding: 13px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
}

#formName::placeholder,
#formEmail::placeholder,
#formUrl::placeholder {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
}

.form-name,
.form-email,
.form-url {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#formUrl {
    display: flex;
    padding: 13px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
}


.sec5-checkbox_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 12px;
}

.sec5-checkbox_text {
    display: flex;
    gap: 12px;
}

.sec5-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: 12px;
    font-size: 22px;
    user-select: none;
}

.sec5-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 3px;
    border-color: #B3B7BC;
}

.sec5-checkbox:hover input+.checkmark {
    background-color: #ccc;
}

.sec5-checkbox input:checked+.checkmark {
    background-color: #7772F1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sec5-checkbox input:checked~.checkmark:after {
    display: block;
}

.sec5-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sec5-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 0 30px;
    border-radius: 4px;
    background: var(--primary, #7772F1);
}

.sec5-button-p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.sec5-forms {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Sec5-svg */


.sec5-svg {
    position: absolute;
    right: 0;
    top: 140px;
    z-index: -1;
}



/* //////// */


/* Section 6 */

/* Sec6-svg */
.sec6-svg {
    position: absolute;
    left: 0;
    top: -195px;
}

.sec6-svg svg {
    width: 100%;
}

/* ///////// */

.section_6 {
    position: relative;
}

.sec6-acc_h1_button {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
}

.sec6_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1230px;
    gap: 45px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 180px;
}

/* Accordion */

.acc {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.acc-content {
    display: none;
    align-items: center;
    padding-top: 5px;
    padding-left: 40px;
}

.acc button p {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: start;
}

.acc-content p {
    color: var(--gray-700, #787A80);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.acc-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.acc-btn::before {
    padding-top: 2px;
    content: url(img/svg/Plus.svg);
    height: 21px;
}

.acc-btn.active::before {
    content: url(img/svg/Minus.svg);
}

.sec6-button button {
    padding: 0px 32px;
    border-radius: 4px;
    background: var(--primary, #7772F1);
    height: 44px;
    overflow: hidden;
}

.sec6-button button p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
}

.sec6-button button p img {
    height: 16px;
    width: 16px;
}


.sec6-img {
    text-align: center;
}

/* Section 7 */

.section_7 {
    background-color: #F4F5F6;
}

.sec7-wrapper {
    position: relative;
    flex-direction: column;
    padding: 82px 0;
    margin: 0 auto;
    max-width: 1230px;
}

.sec7-h1 p {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

/* Swiper */
.sec7-swiper {
    margin: 65px 0;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-el-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 31px 40px 40px 31px;
    width: 100%;
    height: 390px;
    margin: 0 auto;
}

.divider-swiper {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 1px;
    background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.block-company p {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.block-text p {
    color: var(--gray-700, #787A80);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.block-progbar {
    display: flex;
    gap: 32px;
}

.block1,
.block2,
.block3,
.block4,
.block5 {
    
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E5E8ED);
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.block1-progbar1,
.block1-progbar2 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.progbar-numbers {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.progbar-p {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/*  */

.sec7-p_btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sec7-p_btn p {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.sec7-btn {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary, #7772F1);
    height: 52px;
    overflow-y: hidden;
}

.sec7-btn p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
}

/* Swiper progbar */

[class^="swiperEclipse-"] {
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.swiper-slide-active .swiperEclipse-yellow {
    stroke-dasharray: 360;
    stroke-dashoffset: 267;
    animation: prog-90 2s ease-out;
}

.swiperEclipse-yellow {
    stroke-dasharray: 360;
    stroke-dashoffset: 267;
}

@keyframes prog-90 {
    from {
        stroke-dashoffset: 360;
    }

    to {
        stroke-dashoffset: 267;
    }
}

.swiper-slide-active .swiperEclipse-green {
    stroke-dasharray: 360;
    stroke-dashoffset: 250;
    animation: prog-100 2.3s ease-out;
}

.swiperEclipse-green {
    stroke-dasharray: 360;
    stroke-dashoffset: 250;
}

@keyframes prog-100 {
    from {
        stroke-dashoffset: 360;
    }

    to {
        stroke-dashoffset: 250;
    }
}

.swiper-slide-active .swiperEclipse-blue {
    stroke-dasharray: 360;
    stroke-dashoffset: 250;
    animation: prog-100 2.3s ease-out;
}

.swiperEclipse-blue {
    stroke-dasharray: 360;
    stroke-dashoffset: 250;
}

.swiper-slide-active .swiperEclipse-yellow-200 {
    stroke-dasharray: 360;
    stroke-dashoffset: 250;
    animation: prog-100 2s ease-out;
}

.swiperEclipse-yellow-200 {
    stroke-dasharray: 360;
    stroke-dashoffset: 250;
}

.swiper-slide-active .swiperEclipse-pink {
    stroke-dasharray: 360;
    stroke-dashoffset: 267;
    animation: prog-90 2s ease-out;
}

.swiperEclipse-pink {
    stroke-dasharray: 360;
    stroke-dashoffset: 267;
}

.swiper-slide-active .swiperEclipse-green-90 {
    stroke-dasharray: 360;
    stroke-dashoffset: 267;
    animation: prog-90 2s ease-out;
}

.swiperEclipse-green-90 {
    stroke-dasharray: 360;
    stroke-dashoffset: 267;
}

/* /////////////////////////// */

.swiper-slide-active .block1 {
    background: radial-gradient(175.37% 96.44% at 10.00% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
}

.swiper-slide-active p {
    color: #FFF;
}

.swiper-slide-active .block2 {
    background: radial-gradient(175.37% 96.44% at 10.00% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
}

.swiper-slide-active .block3 {
    background: radial-gradient(175.37% 96.44% at 10.00% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
}

.swiper-slide-active .block4 {
    background: radial-gradient(175.37% 96.44% at 10.00% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
}

.swiper-slide-active .block5 {
    background: radial-gradient(175.37% 96.44% at 10.00% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
}

/* Swiper buttons */

.swiper-button-prev,
.swiper-button-next {
    left: auto !important;
    right: 0;
    top: var(--swiper-navigation-top-offset, 17%) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
    margin: 0 -10px !important;
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important;
}

.swiper-button-prev-custom {
    right: 50px !important;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
    background-image: url(img/shape-btn-swiper.png);
}

/* /////////// */
.swiper-button-next-custom:hover .swiper-button-next-custom-black {
    display: none;
}

.swiper-button-next-custom:hover .swiper-button-next-custom-white {
    display: block;
}

.swiper-button-next-custom-white {
    display: none;
}

/* //////////// */

.swiper-button-prev-custom:hover .swiper-button-prev-custom-black {
    display: none;
}

.swiper-button-prev-custom:hover .swiper-button-prev-custom-white {
    display: block;
}

.swiper-button-prev-custom-white {
    display: none;
}

/* Section 8 */

.section_8 {
    position: relative;
}

.sec8-wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 100px 0 90px 0;
}


.sec8-h1 h1 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.sec8-content {
    padding-top: 60px;

}


.cards {
    min-height: 237px;
    margin-top: 24px;
    padding: 40px 48px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E5E8ED);
    background: var(--white, #FFF);
    transition: .32s ease-out;
}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card-mainText {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 7px;
}

.card-text {
    color: var(--gray-700, #787A80);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.cards:hover {
    position: relative;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.sec8-img {
    margin: auto 0;
}

.sec8-img img {
    max-width: 100%;
}


.sec8-svg_left {
    position: absolute;
    left: 0;
    top: 850px;
    z-index: 1;
}

.sec8-svg_left img {
    max-width: 100%;
}

.sec8-svg_right {
    position: absolute;
    right: 0;
    top: 600px;
    z-index: -1;
}

.sec8-svg_right img {
    max-width: 100%;
}


/* Section 9 */


.sec9-wrapper {
    padding: 90px 0;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.sec9-h1 h1 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.cards-btnSwitch {
    position: relative;
    display: flex;
    width: 390px;
    height: 46px;
    border-radius: 40px;
    border: 1px solid #7772F1;
    margin: 0 auto;
}


.btnSwitch-monthly,
.btnSwitch-yearly {
    display: flex;
    width: 50%;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--primary, #7772F1);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    z-index: 3;
}

.btnSwitch-monthly.active,
.btnSwitch-yearly.active {
    color: #FFF;
    transition: .4s ease;
}


.cards-btn-amination::before {
    position: absolute;
    content: '';
    cursor: pointer;
    left: -1px;
    top: -1px;
    height: 46px;
    width: 210px;
    background-color: #7772F1;
    border-radius: 40px;
    transition: .4s ease;
    z-index: 0;
}


.btnSwitch-yearly.active+.cards-btn-amination::before {
    transform: translateX(86%);
}

/* Cards with price */



.sec9-cards_price {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
    width: 390px;
    border-radius: 4px;
    border: 1px solid rgba(119, 114, 241, 0.40);
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: .5s ease;
}


@media (max-width: 414px) {
    .divider-cards {
        display: none;
    }
}

.sec9-cards_price h3 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: .5s ease;
}

.card-price-container {
    display: flex;
}

.card-price-container p {
    color: var(--primary, #7772F1);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: .5s ease;
}


.card-price-def {
    color: var(--primary, #7772F1);
    text-align: center;
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    transition: .5s ease;
}

.divider-cards {
    position: absolute;
    top: 32%;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.sec9-cards-list {
    padding: 30px 0;
}

.li-default {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.li-none_active {
    color: var(--gray-600, #9A9CA5);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.li-none_active,
.li-default {
    transition: .5s ease;
    padding: 4px 0;
}

.li-default::before {
    padding-right: 7px;
    content: url(img/svg/Mark.svg);
    transition: .5s ease;
}

.li-none_active::before {
    padding-right: 7px;
    content: url(img/svg/Cross.svg);
}

.sec9-cards-button {
    display: inline-flex;
    width: 146px;
    height: 44px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--primary, #7772F1);
    color: var(--primary, #7772F1);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    transition: .5s ease;
}

.cards-btnMobSwitch {
    display: none;
}

.sec9-cards_price-green {
    border-radius: 4px;
    border: 1px solid var(--success, #03CEA4);
    background: var(--gray-900, #1E212C);
}

.sec9-cards_price-green h3 {
    color: var(--white, #FFF);
}

.sec9-cards_price-green p {
    color: var(--success, #03CEA4);
}

.sec9-cards_price-green h1 {
    color: var(--success, #03CEA4);
}


.sec9-cards_price-green .li-default::before {
    content: url(img/svg/Mark-green.svg);
}

.sec9-cards_price-green .li-default {
    color: var(--white, #FFF);
}



.sec9-cards_price-green .sec9-cards-button {
    border-radius: 4px;
    background: var(--primary, #7772F1);
    color: #FFF;
}

.sec9-cards-button-wrapper {
    text-align: center;
}


/* Section 10 */



.sec10-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
    padding: 90px 0;
    gap: 60px;
    position: relative;
}

/* Position background Section10 */

.sec10-svg {
    position: absolute;
    top: 22%;
    z-index: -1;
}

/* ////////////////////////// */
.sec10-h1 h1 {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.sec10-swiper {
    width: 100%;
}



/* Section 10 Buttons */


.sec10-swiper-btn-prev-custom,
.sec10-swiper-btn-next-custom {
    position: absolute;
    margin: 0 -10px !important;
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important;
}

.sec10-swiper-btn-prev-custom:hover,
.sec10-swiper-btn-next-custom:hover {
    background-image: url(img/shape-btn-swiper.png);
}

.sec10-swiper-btn-next-custom:hover .swiper-button-next-custom-black {
    display: none;
}

.sec10-swiper-btn-next-custom:hover .swiper-button-next-custom-white {
    display: block;
}

.swiper-button-next-custom-white {
    display: none;
}


.sec10-swiper-btn-prev-custom:hover .swiper-button-prev-custom-black {
    display: none;
}

.sec10-swiper-btn-prev-custom:hover .swiper-button-prev-custom-white {
    display: block;
}

.swiper-button-prev-custom-white {
    display: none;
}


/* Swiper blocks */

.sec10-slide {
    margin: 0 auto;
    max-width: 1020px;
    height: 344px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.sec10-slide-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 64px 105px;
}

.sec10-slide-comment-txt p {
    color: var(--gray-800, #424551);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sec10-slide-content-comment {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sec10-swiper-comment_author {
    display: inherit;
    flex-direction: row;
    gap: 20px;
}

.author-name {
    color: #1E212C !important;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.author-position {
    color: #787A80 !important;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.swiper-author_info {
    display: inherit;
    flex-direction: column;
    justify-content: center;
}


/* Section 11 */


.sec11-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    padding: 90px 0 180px 0;
}

/* SVG */

.section_11 {
    position: relative;
}

.sec11-svg img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}


/* //////////////// */
.sec11-text-h1 h1 {
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.sec11-text-p p {
    color: var(--gray-800, #424551);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sec11-text_btn {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec11-button {
    display: flex;
    width: 180px;
    height: 52px;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary, #7772F1);
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
}


.sec11-blog-article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 390px;
}

.sec11-article-img {
    max-width: 390px;
    height: 100%;
    overflow: hidden;
}

.sec11-article1 {
    transition: .5s ease;
    display: block;
}

.sec11-article1:hover {
    transform: scale(1.1);
}

.article-info {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.article-info_author {
    display: inline-flex;
    align-items: center;
}

.article-info-divider {
    width: 1px;
    height: 12px;
    background: #787A80;
}

.article-info_sphere p {
    color: var(--gray-700, #787A80);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.info_date-icon {
    padding-bottom: 5px;
}

.info_date-txt p {
    padding-left: 8px;
    color: var(--gray-700, #787A80);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.article-info_date {
    display: inline-flex;
    align-items: center;
}

.info_author-icon {
    padding-bottom: 5px;
}

.info_author p {
    color: var(--gray-700, #787A80);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-left: 8px;
}

.content-text1 {
    padding-top: 10px;
    padding-bottom: 5px;
    color: var(--gray-900, #1E212C);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.content-text2 {
    color: var(--gray-800, #424551);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.article-content-button button {
    max-width: 109px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.article-content-button button::after {
    padding-top: 2px;
    height: 24px;
    content: url(img/icons/Right.png);
}

.sec11-blog-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Footer */

footer {
    background: #1E212C;
    position: relative;
}


.footer-wrapper {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 80px;
}

.footer-main-logo {
    padding-bottom: 12px;
}

.footer-col1 {
    max-width: 300px;
}

.footer-col1 p {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    padding: 12px 0 19px 0;
}

.footer-col1-SM {
    padding-top: 19px;
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
}

.footer-col2,
.footer-col3 {
    max-width: 120px;
}

.footer-title {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    padding: 0 0 7px;
}

.footer-txt {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    padding: 5px 0 5px;
}

.footer-text {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    align-items: center;
}

.footer-col4 span {
    padding-right: 5px;
}


.footer-col5-input {
    display: flex;
    height: 36px;
    margin-top: 12px;
    padding: 9px 12px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);


    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-col5-txt {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 12px;
}

.divider-footer {
    position: absolute;
    bottom: 32%;
    width: 100%;
    height: 1px;
    opacity: 0.4;
    background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}


.footer-sponsors_button {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px 0 35px 0;
}

.footer-sponsors {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.footer-button {
    display: inline-flex;
    align-items: end;
    gap: 10px;

}

.footer-button p {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #7772F1;
}

.footer-btn::before {
    content: url(img/svg/Up-chevron.svg);
}

.footer-byCreateStudio {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
}

.footer-byCreateStudio-content {
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-byCreateStudio-content p {
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.sec9-swiper-mob {
    width: 100%;
}